@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Young+Serif&display=swap');
/* */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;

}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    font-family: 'GFS Didot', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* MENU */



.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(27, 26, 26);
    position: fixed;
    padding-left: 30rem;
}

.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.logo h3 {
   color: white;
   font-size: 1.6rem;
  float: left;
 
}


.logo img {
    width: 100%;
    height: 100%;
    float: left !important;
    position: relative;



  
}

.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .list-menu li a{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}

.content .list-menu li a:hover{
    background-color: #333333;
    border-bottom: 4px solid #FF4500;  
    color: #FF4500;
}

/* Primeira Seção */

.first-section{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img.fundopizza2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first-section .conteudo-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.first-section h1{
    color:  #FF4500;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: 'Indie Flower', cursive;
}

.first-section h2{
    color: rgb(177, 177, 177);
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 3rem;
}

.btn button {
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #FF4500;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    transition: all 400ms ease-in;
    margin-top: 5rem;
}

 .btn button:hover {
    border: 1px solid #FF4500;
    background-color: transparent;
    color: #FF4500;
}
.btn {
    width: 480px;
    display: flex;
    justify-content: space-between;
   
}


  /* sobre nós */
   
    .sobre-nos {
        height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img.fundopizza2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    }
    
    .contentsobre {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .main{
        
        display: flex;
        justify-content: space-between;
    }
    
    .sobre-nos img {
        width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid rgb(155, 155, 155);
    }
    
    .contentsobre h2 {
       font-size: 6rem;
       margin-bottom: 1rem;
       font-family: 'Indie Flower', cursive;
    }
    
    .contentsobre p {
       text-align: center;
       font-size: 1.9rem;
       width: 600px;
    }

    /* Cardápio */
    .cardapio{
       width: 100vw;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img.fundopizza2.jpg);
    }

    .cardapio h2{
        font-size: 3rem;
        color: aliceblue;
        text-transform: uppercase;
        display: block
    }

 .itens-cardapio{
    
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px,300px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.itens-cardapio .info{
    background-color: rgba(221, 221, 221 );
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.itens-cardapio img{
    width: 100%;
    height: 50px;
}

.itens-cardapio .info h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}

.itens-cardapio .info h4{
    font-size: 1.4rem;
   text-transform: uppercase;
   margin-bottom: 0.6rem;
   display: grid;
   justify-content: center;
   align-items: center;
 grid-template-columns: 150px 150px;  
 margin-left: 6rem;
}

.itens-cardapio .info h4 span{
    font-size: 1.6rem;
    color: #333333;
    margin-left: 1.5rem;
    text-decoration:underline;
    }
    
    .itens-cardapio div{
    background-color:#5e5252;
    box-shadow: 0px 0px 4px 1px;
    }
    .pedir-fomr{ 
        width: 200px;
       height: 35px;
       margin-top: 0.5rem;
       background-color: #FF4500;
       border-radius: 5px;
       text-transform: uppercase;
       cursor: pointer;
       color: black;
       transition: all 200ms ease-in;
    
    }
    .pedir-fomr:hover{
       background-color: #5e5252;
       color: white;
    }

.botao-voltar{
    width: 100px;
    height: 50px;
    margin-top: 0.5rem;
    background-color: #FF4500;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    transition: all 200ms ease-in;
 
 }
.botao-voltar:hover{
    background-color: #4e4a4e;
    color:#FF4500;
 }


   /* Contatos */
.contatos{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img.fundopizza2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e4a4e;
   font-size: 1.8rem;
   color: white;
 

}

.contatos h3{
    font-size: 6rem;
    margin-bottom: 3rem;
    font-family: 'GFS Didot', sans-serif;
    align-items: center;
}

.contatos-colocados{
    width: 650px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.contatos-colocados h2{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.contatos-colocados i{
    margin-right: 1rem;
    align-items: center;
}

.contatos-colocados div{
    cursor: pointer;
    transition: all 200ms ease-in;
}
.contatos-colocados:hover{
    color: #FF4500;
}

footer {
    height: 100px;
    background-color: #1f1e1f;
    color: #FF4500;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedido-resgistramento{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img.fundopizza2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pedido-resgistramento h1{
    font-size: 3rem;
    color: white;
}

.pedido-resgistramento h2{
    font-size: 2rem;
    color: white;
}


.instagram img{
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid rgb(155, 155, 155);
}

.instagram{
width:480px;
height: 500px;

}

.container-form{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img.fundopizza2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-Enviar{
    width: 150px;
    height: 35px;
    margin-top: 0.5rem;
    background-color: #FF4500;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    transition: all 200ms ease-in;
 
}
.form-header h1{
    color:aliceblue;
    font-size: 4rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.login-button button{
    border: none;
    background-color: #FF4500;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #5e5252;
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: aliceblue;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
margin: 0.6rem 0;
padding: 0.8rem 1.2rem;
 border: none;
border-radius: 10px;
box-shadow: 1px 1px 6px #5e5252;
} 
        

.input-box input:hover{
    background-color: #FF4500;
}

.input-box input:focus-visible{
    outline: 1px solid #1f1e1f;
}

label{
color: aliceblue;
font-size: 1.5rem;
}

    .gender-title h3{
        color: aliceblue;
        font-size: 2rem;
    }
    

.gender-group {
  
  
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    
   align-items: center;
}

.gender-input input {
    margin-right: 0.25rem;
}

.gender-input label {
    font-size: 1.6rem;
    font-weight: 400px;
    color: #FF4500;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #FF4500;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #FF4500;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.input-group{
    color:white;
    font-size: 1rem;
}



.buscar-box{
    width: 30px;
    height: 30px;
    background-color: #1f1e1f;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .5s;
}

.buscar-box.ativar{
    width: 400px;
}

.buscar-box .lupa-buscar, .buscar-box .btn-fechar{
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buscar-box .btn-fechar i{
    font-size: 20px;
    margin-left: 15px;
    transition: all 200ms ease-in;
}

.buscar-box .btn-fechar i:hover{
    background-color: #4e4a4e;
    color: red;
}

.buscar-box .lupa-buscar i{
    font-size: 20px;
    transition: all 200ms ease-in;
}

.buscar-box .lupa-buscar i:hover{
    background-color: #FF4500;
}

.buscar-box .input-buscar{
    position: absolute;
    left: 80px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 40px;
    background-color: #1f1e1f;
    color: #FF4500;
}

.buscar-box .input-buscar input{
    border: 0;
    outline: 0;
    font-size: 20px;
    background-color: #1f1e1f;
    color: #FF4500;
}

@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Young+Serif&display=swap');
/*  usamos para tirar todas as margins , tirando o
espaçamentos, bordas  e as bolinhas e os traços.
 e o link acima e da fonte*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    border: none;
    text-decoration: none;

}

/* criamos a largura e altura para pegar a
 tela toda na pagina , e a fonte repossiva para
  ficar mais fscil de utilizar, e o overflow para
  nao a rolagem horizontal smooth e a parte de transiçao automaticamente*/
html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    font-family: 'GFS Didot', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* MENU */

/*usamos o largura toda e altura so 70px para nao
pegar a tela toda, flex para ficar uma do lado da
outra, space-around para criar um espaçamento, center
para alinhar todas ao centro e a cor, a posicao fixed para 
ficar sempre alinhado e o left diminuindo o tamanho.*/
.content {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(27, 26, 26);
    position: fixed;
    padding-left: 30rem;
}

/*colocamos uma altura de 70px, altura automatica, e 
o pointer para aparecer a maozinha quando precionar
flex para ficar uma alinahdo uma do lado da outra e alinhado 
uma da outra*/
.logo {
    width: 70px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
}

 /* cor do nome e fonte*/
.logo h3 {
   color: white;
   font-size: 1.6rem;
}

/* largura e altura 100%, mais nao
 pega a tela toda por esta dentro da
 caixa do logo que esta 70px */
.logo img {
    width: 100%;
    height: 100%;
}

/*largura, flex para ficar todas uma do
lado da outra, center alinahdo ao centro space-between
para criar um espaço entre eles  e para ficar alinahdos 
na horizontal*/
.content .list-menu {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*criamos um valor  para cada uma e seu tamanho, e colocamos
uma cor, e aumentamos a fonte, e uppercase para deixar 
todas  maiusculas  e a grossura da , com a font-width
 colocamos uma transiçao para todos os elementos com 200 milis 
 segundos na entrada quando clicar */
.content .list-menu li a{
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 200ms ease-in;
}

/* criamos o hover para colocar uma sombra e  cor quando 
clicar na opçao e uma borda em baixo  e a cor da letra*/
.content .list-menu li a:hover{
    background-color: #333333;
    border-bottom: 4px solid #FF4500;  
    color: #FF4500;
}

/* Primeira Seção */

/* largura e altura no tamnho da tela, flex uma
 para ficar uma do lado outro, column para ficar uma
  emcima da outra   content center alinhando na vertical
 align center alinhado colocamos uma imagem de fundo com uma sombra
   e uma posiçao do centro, cover para cobrir toda a tela 
   no-repeat para nao repetir a imagem e posiçao no eixo y
  para diminuir o tamanho*/
.first-section{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img.fundopizza2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 /*deixar uma do lado do outro, e deixar uma emcima da
 outra, centralizado ao centro*/
.first-section .conteudo-principal{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
 /* colocamos a cor , tamanho da fonte, as letras todas 
  maiusculas, e a margen para ter um espaçamento do subtitulo*/
.first-section h1{
    color:  #FF4500;
    font-size: 6rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: 'Indie Flower', cursive;
}
/* tambem colocamos uma cor , tamanho da fonte, grossura da fonte
as letras maiusculas tipo da fonte e a margem*/
.first-section h2{
    color: rgb(177, 177, 177);
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Indie Flower', cursive;
    margin-bottom: 3rem;
}

/*largura e altura, pointer para criar aparecer o botao,
a caixa maiusculas, uma cor para o botao,border radius para 
deixar as bordas dos botoes redondada,a cor e a grossura
 da fonte, o espaçamento, e transiçao do hover   */
.btn button {
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #FF4500;
    border-radius: 10px;
    color: black;
    font-weight: 700;
    transition: all 400ms ease-in;
    margin-top: 5rem;
}

/*a cor da borda e backround color fundo do botao trasparente
color do botao*/
 .btn button:hover {
    border: 1px solid #FF4500;
    background-color: transparent;
    color: #FF4500;
}

/* o tamanho da caixa do botoes , alinhado, e o between
para cada um ficar em cada ponta*/
.btn {
    width: 480px;
    display: flex;
    justify-content: space-between;
   
}
 /* sobre nós */
   
    .sobre-nos {
        height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img.fundopizza2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    }
    
    .contentsobre {
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .main{
        
    display: flex;
    justify-content: space-between;
    }
    
    .sobre-nos img {
        width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid rgb(155, 155, 155);
    }
    
    .contentsobre h2 {
       font-size: 6rem;
       margin-bottom: 1rem;
       font-family: 'Indie Flower', cursive;
    }
    
    .contentsobre p {
       text-align: center;
       font-size: 1.9rem;
       width: 600px;
    }

    /* Cardápio */

    /* o tamanho toda da tela, column para todos ficar em coluna
     e alinhado ao centro,  e a imagem de fundo */
    .cardapio{
       width: 100vw;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img.fundopizza2.jpg);
    }

    /*o tamanho da fonte, a cor da fonte, as letras maiucusculas
    e o block */
    .cardapio h2{
        font-size: 3rem;
        color: aliceblue;
        text-transform: uppercase;
        display: block
    }

    /*intens so poderar usar 80% de toda class section 
    que tem na pagina , para margen top distancia para cima
    botton para baixo, grid  e as linha de marcaçao,  grid
    template column os tamanhos de cada uma das colunas,
    alinhados ao centro, gap as distancia que cada elemento
    vai ter*/
 .itens-cardapio{
    width: 80%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px,300px));
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* a cor solida do quadro da pizza, none tirando as bordas
  flex e column para todas as infomaçoes ficarem uma
  emcima da outra alinhando tudo ao centro e o padding dando um 
  espaçamento*/
.itens-cardapio .info{
    background-color: rgba(221, 221, 221 );
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

/*largura e altura da iamgem*/
.itens-cardapio img{
    width: 100%;
    height: 50px;
}

/*tamanho da fonte, as letras maiusculas
margen o espaçamento, underline deixar o risco em baixo do nome
*/
.itens-cardapio .info h3{
    font-size: 1.8rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-decoration: underline;
}

/*tamanho da fonte, as letras maiusculas, margin o espaçamento
grid para par o conjunto de linhas alinhados ao centro,
definir o tamanho de cada coluna, margin o espaçamento para a esquerda*/
.itens-cardapio .info h4{
    font-size: 1.4rem;
   text-transform: uppercase;
   margin-bottom: 0.6rem;
   display: grid;
   justify-content: center;
   align-items: center;
 grid-template-columns: 150px 150px;  
 margin-left: 6rem;
}

/*tamanho da fonte, cor da letras, espaçamento para 
esquerda, e traço em baixo do nome*/
.itens-cardapio .info h4 span{
    font-size: 1.6rem;
    color: #333333;
    margin-left: 1.5rem;
    text-decoration:underline;
    }

    /*a cor da caixinha da pizza, box- shadow  e a sombra 
    da caixinha de cada coluna*/
    .itens-cardapio div{
    background-color:#5e5252;
    box-shadow: 0px 0px 4px 1px;
    }

    /*largura e altura do botao, espaçamento do topo
    a cor do botao, radius deixar o botao a  redondado,
     as letras maiusculas, pointer para 
    aparecer a amaozinha, cor da fonte, trasiçao do hover do
    botao */
    .pedir-fomr{ 
        width: 200px;
       height: 35px;
       margin-top: 0.5rem;
       background-color: #FF4500;
       border-radius: 5px;
       text-transform: uppercase;
       cursor: pointer;
       color: black;
       transition: all 200ms ease-in;
    
       /*a cor de fundo quando presionar o botao
       e a cor da fonte*/
    }
    .pedir-fomr:hover{
       background-color: #5e5252;
       color: white;
    }

.botao-voltar{
    width: 100px;
    height: 50px;
    margin-top: 0.5rem;
    background-color: #FF4500;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    transition: all 200ms ease-in;
 
 }
.botao-voltar:hover{
    background-color: #4e4a4e;
    color:#FF4500;
 }


   /* Contatos */
.contatos{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img.fundopizza2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #4e4a4e;
   font-size: 1.8rem;
   color: white;
 

}

.contatos h3{
    font-size: 6rem;
    margin-bottom: 3rem;
    font-family: 'GFS Didot', sans-serif;
    align-items: center;
}

.contatos-colocados{
    width: 650px;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.contatos-colocados h2{
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.contatos-colocados i{
    margin-right: 1rem;
    align-items: center;
}

.contatos-colocados div{
    cursor: pointer;
    transition: all 200ms ease-in;
}
.contatos-colocados:hover{
    color: #FF4500;
}

footer {
    height: 100px;
    background-color: #1f1e1f;
    color: #FF4500;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pedido-resgistramento{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img.fundopizza2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pedido-resgistramento h1{
    font-size: 3rem;
    color: white;
}

.pedido-resgistramento h2{
    font-size: 2rem;
    color: white;
}


.instagram img{
    width: 400px;
    height: 400px;
    margin-top: 10rem;
    margin-left: 10rem;
    border: 2px solid rgb(155, 155, 155);
}

.instagram{
width:480px;
height: 500px;

}

.container-form{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8), rgba(29, 29, 29, 0.8)), url(./img.fundopizza2.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.botao-Enviar{
    width: 150px;
    height: 35px;
    margin-top: 0.5rem;
    background-color: #FF4500;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    transition: all 200ms ease-in;
 
}
.form-header h1{
    color:aliceblue;
    font-size: 4rem;
}

.form-header{
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}
.login-button button{
    border: none;
    background-color: #FF4500;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.login-button button:hover{
    background-color: #5e5252;
}

.login-button button a{
    text-decoration: none;
    font-weight: 500;
    color: aliceblue;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    
}

.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
margin: 0.6rem 0;
padding: 0.8rem 1.2rem;
 border: none;
border-radius: 10px;
box-shadow: 1px 1px 6px #5e5252;
} 
        

.input-box input:hover{
    background-color: #FF4500;
}

.input-box input:focus-visible{
    outline: 1px solid #1f1e1f;
}

label{
color: aliceblue;
font-size: 1.5rem;
}

    .gender-title h3{
        color: aliceblue;
        font-size: 2rem;
    }
    

.gender-group {
  
  
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.gender-input {
    
   align-items: center;
}

.gender-input input {
    margin-right: 0.25rem;
}

.gender-input label {
    font-size: 1.6rem;
    font-weight: 400px;
    color: #FF4500;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #FF4500;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #FF4500;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

.input-group{
    color:white;
    font-size: 1rem;
}



.buscar-box{
    width: 30px;
    height: 30px;
    background-color: #1f1e1f;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    position: relative;
    transition: .5s;
}

.buscar-box.ativar{
    width: 400px;
}

.buscar-box .lupa-buscar, .buscar-box .btn-fechar{
    min-width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buscar-box .btn-fechar i{
    font-size: 20px;
    margin-left: 15px;
    transition: all 200ms ease-in;
}

.buscar-box .btn-fechar i:hover{
    background-color: #4e4a4e;
    color: red;
}

.buscar-box .lupa-buscar i{
    font-size: 20px;
    transition: all 200ms ease-in;
}

.buscar-box .lupa-buscar i:hover{
    background-color: #FF4500;
}

.buscar-box .input-buscar{
    position: absolute;
    left: 80px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 40px;
    background-color: #1f1e1f;
    color: #FF4500;
}

.buscar-box .input-buscar input{
    border: 0;
    outline: 0;
    font-size: 20px;
    background-color: #1f1e1f;
    color: #FF4500;
}

